<div class="container row">
    <div class="col-md-5">
        <%= link_to "Back to Layout", parkingzone_path(@parkingslot.parkingzone_id), class: "btn btn-sm btn-primary" %>
    </div>

    <div class="col-md-5"></div>

    <div class="col-md-2">
        <% if @parkingslot.active == true %>
            <%= link_to "Block the slot", parkingslot_path(@parkingslot), method: :DELETE, class: "btn btn-primary btn-sm" %>
        <% else %>
            <%= link_to "Unblock the slot", parkingslot_path(@parkingslot), method: :DELETE, class: "btn btn-primary btn-sm" %>
        <% end %>
    </div>
</div>

<% if @parkingslot.status == true %>
    <div class="container-sm mt-3 row justify-content-center">
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div class="card border-secondary mb-3 bg-light text-center" style="border: 2px solid #007bff;">
                <div class="card-header" style="background-color: black; color: white;">
                    Parked Vehicle Details
                </div>
                <div class="card-body">
                    <div class="container">
                        <% @parkingslot = Parkingslot.find(params[:id]) %>
                        <% @parkingzone = Parkingzone.find(@parkingslot.parkingzone_id) %>
                        <% @bill = Bill.where(parkingslot_id: @parkingslot.id, checkout_time: nil).first %>
                        <% @user = User.find(@bill.user_id) %>
                        <% @duration_in_days = @bill.duration/24 %>
                        <% @duration_in_hours = @bill.duration%24 %>
                
                        <p class="card-text" style="color: #000000; font-size: 15px">Parking Zone Name: <%= @parkingzone.name %></p>
                        <p class="card-text" style="color: #000000; font-size: 15px">Parking Slot Number: <%= @parkingslot.slot_number %></p>
                        <p class="card-text" style="color: #000000; font-size: 15px">Vehicle Number: <%= @bill.vehicle_number %></p>
                        <p class="card-text" style="color: #000000; font-size: 15px">Username: <%= @user.username %> </p>
                        <p class="card-text" style="color: #000000; font-size: 15px">Checkin-Time: <%= @bill.checkin_time.in_time_zone('Asia/Kolkata').strftime('%Y-%m-%d %H:%M:%S') %></p>

                        <p class="card-text" style="color: #000000; font-size: 15px">Specified Duration: <%= pluralize(@duration_in_days, 'Day') %> <%= pluralize(@duration_in_hours, 'Hour') %></p>
                        <p class="card-text" style="color: #000000; font-size: 15px">Prepaid Amount: <%= @bill.amount %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% else %>
    <div class="container-sm mt-3 row justify-content-center">
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div class="card border-secondary mb-3 bg-light text-center" style="border: 2px solid #007bff;">
                <div class="card-header" style="background-color: black; color: white;">
                    Parked Vehicle Details
                </div>
                <div class="card-body">
                    <div class="container">
                        No Vehicle Parked
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>

<%= render 'slotHistory' %>