<head>
    <style>
        #date-select{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-left: 16px
        } 
        #date-select select{
            margin-right: 8px;
        } 
        #date-select select {
            width: 80px; /* Adjust the width as needed */
        }
        .smaller-file-input {
            height: 35px; /* Adjust the height as needed */
        }
        .no-padding-margin {
            margin: 0;
            padding: 0;
        }


    </style>
</head>

<% if @user.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <% @user.errors.full_messages.each do |msg| %>
                <%= msg %> |
            <% end %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <script>
        // JavaScript to close the alert after a certain time (3 seconds in this example)
        setTimeout(function() {
            $(".alert").alert('close');
        }, 3000);
    </script>
<% end %>


<div class="container mt-4" style="height: 100%">
    <div class="row justify-content-center mb-0">
        <div class="col-md-4">
            <div class="card border-primary shadow pt-0 pb-0 mb-0">
                <div class="card-title">
                    <% if !logged_in? %>
                        <h3 class="text-center mb-0">Signup</h3>
                    <% else %>
                        <h3 class="text-center">Edit your profile</h3>
                    <% end %>
                </div>
                <div class="card-body mt-0 mb-0"> <!-- Decreased padding top and bottom -->
                    <%= form_with(model: @user, local: true) do |f| %>
                        <div class="form-group mt-0 pt-0 mb-8">
                            <%= f.label :username, class: "no-padding-margin" %><br>
                            <%= f.text_field :username, class: "form-control form-control-sm no-padding-margin mb-8" %>
                        </div>
                        <div class="form-group">
                            <%= f.label :email, class: "no-padding-margin" %><br>
                            <%= f.email_field :email, class: "form-control form-control-sm no-padding-margin" %>
                        </div>
                        

                        <div class="form-group">
                            <div>
                                <%= f.label :DOB, "Date of Birth     " %>
                            </div>
                            <div class="col-sm-10 px-0">
                                        <div id="date-select" class="px-0">
                                        <%= f.date_select :DOB, 
                                            { order: [:day, :month, :year],
                                            prompt: { day: 'DD', month: 'MM', year: 'YY' },
                                            start_year: Date.current.year - 70,
                                            end_year: Date.current.year },
                                            { class: "form-control form-control-sm", required: true } %>
                                    </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <%= f.label :ProfilePic, "Profile Picture" %><br>
                            <%= f.file_field :avatar, class: "form-control form-control-sm smaller-file-input" %>
                        </div>
                        <% if !logged_in? %>
                            <div class="form-group">
                                <%= f.label :password %><br>
                                <%= f.password_field :password, class: "form-control form-control-sm" %>
                            </div>
                        <% end %>
                        <div class="form-group text-center mb-0">
                            <%= f.submit @user.new_record? ? "Sign Up" : "Update account", class: "btn btn-primary btn-sm btn-block" %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <% if !logged_in? %>
        <div class="row justify-content-center mt-0">
            <div class="col-md-4 text-center">
                <p>Already have an account? <%= link_to "Login", root_path %></p> <!-- Adjust the link according to your routes -->
            </div>
        </div>
    <% end %>
</div>